#newGame {
	-fx-background-color: white;
	-fx-padding: 5px;
}

Button {
	-fx-color: #FFCB7A;
	-fx-background-radius: 5em;
	-fx-font: normal bold 20px 'serif';
}

VBox {
    -fx-alignment: bottom-center;
}