#rulesForPlayGame {
    -fx-background-color: white;
    -fx-padding: 5px;
}

#textArea {
    -fx-font: normal bold 16px 'arial';
    -fx-alignment: center;
    -fx-min-height: 280px;
}

Button {
	-fx-background-radius: 5em;
	-fx-color: #97BDF0;
}

Button:hover {
    -fx-color: #4879B8;
}

#header {
    -fx-font: normal bold 20px 'arial';
    -fx-padding: 15 0 5 10;
}

#headerPosition {
    -fx-alignment: center;

}

#text {
	-fx-padding: 0 10 10 10;
	-fx-font: normal bold 16px 'arial';
    -fx-text-fill: #2196F3;
    -fx-alignment: center;
    -fx-min-height: 280px;
}