#winner {
    -fx-alignment: center;
    -fx-padding: 5px;
}

#header {
    -fx-font: normal bold 20px 'arial';
}

#headerPosition {
    -fx-alignment: center;
    -fx-padding: 10 0 5 10;
}

#statisticsCurrentGame {
    -fx-font: normal bold 12px 'arial';
}