#winner {
    -fx-background-color: #C0D3EB;
    -fx-alignment: center;
    -fx-padding: 5px;
}

Button {
	-fx-background-radius: 5em;
	-fx-color: #97BDF0;
}

Button:hover {
    -fx-color: #4879B8;
}

#headerPosition {
    -fx-alignment: center;
    -fx-padding: 10 0 5 10;
    -fx-font: normal bold 20px 'arial';
}

#statisticsCurrentGame {
    -fx-font: normal bold 12px 'arial';
}